venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.git/
.github/
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.env
.idea/
.vscode/
*.log
ruff.toml
README.md
docs/
terraform/

